<script>
    current_die = {
        index: null,
        color: null,
        pips: null
    };
    function select_die(index, color, pips) {
        current_die.index  = index;
        current_die.color = color;
        current_die.pips = pips;
    }
    function place_die(x, y) {
        if (current_die.index !== null) {
            $.post('die', {die: current_die.index, x: x, y: y}, (res) => {
                console.log(res);
                let cell = $('#' + x + '-' + y);
                if (res === true) {
                    cell.addClass('placed-die');
                    cell.addClass(current_die.color);
                    cell.html(current_die.pips);
                    cell.removeClass('empty-color-rule');
                    cell.removeClass('empty-number-rule');
                }
            });
        }
    }
</script>
<span>It is {{#unless my_turn}}<b>not </b>{{/unless}}your turn</span>
<table>
    {{#each board.rows as |row x|}}
        <tr>
            {{#each row as |cell y|}}
                {{#if cell.die.color}}
                    <td id="{{x}}-{{y}}" class="placed-die {{cell.die.color}}">{{cell.die.pips}}</td>
                {{else if cell.rules.color}}
                    <td id="{{x}}-{{y}}" class="empty-color-rule {{cell.rules.color}}" onclick="place_die({{x}}, {{y}})"></td>
                {{else if cell.rules.pips}}
                    <td id="{{x}}-{{y}}" class="empty-number-rule" onclick="place_die({{x}}, {{y}})">{{cell.rules.pips}}</td>
                {{else}}
                    <td id="{{x}}-{{y}}" onclick="place_die({{x}}, {{y}})"></td>
                {{/if}}
            {{/each}}
        </tr>
    {{/each}}
</table>
<span>Place dice:</span>
<table>
    <tr>
        {{#each available_dice as |die index|}}
            <td class="{{#ifIn index ../remaining_dice }}placed-die{{else}}empty-color-rule{{/ifIn}} {{die.color}}" style="cursor: hand;" onclick="select_die({{index}}, '{{die.color}}', {{die.pips}})">{{die.pips}}</td>
        {{/each}}
        <td class="empty-number-rule" onclick="select_die(-1, null, null)">PASS</td>
    </tr>
</table>